body,
html {
    margin: 0;
    overflow-x: hidden;
}

#header {
    align-items: center;
    -webkit-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.75);
    background-color: #66CA34FF;
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.75);
    display: flex;
    z-index: 1;
}

a,
a:hover,
a:visited,
a:active {
    color: #FFFFFFFF;
    text-decoration: none;
}

#footer {
    background-color: #71C13DFF;
    bottom: 0;
    -webkit-box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.55);
    box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.55);
}

#buttonContact {
    width: 85%;
}

.imageFooter {
    height: 64px;
    width: 64px;
}

@media (max-width: 576px) {
    #propos {
        text-align: center;
    }
    #contact {
        margin-top: 0 !important;
    }
}